<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Тестовые базы данных</title>
    <link rel="stylesheet" href="assets/bulma.min.css">
</head>
<body class="columns">

<main class="column is-three-quarters">
    <section class="section">
        <div class="container">
            <h1 class="title">Список активных баз</h1>

            <div class="table-container">
                <table class="table is-bordered is-striped">
                    <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Порт</th>
                        <th>Юзер</th>
                        <th>Пароль</th>
                        <th>URL</th>
                        <th>Запущен</th>
                        <th>
                            <abbr title="Дата последнего изменения конфигов, которая _обычно_ соответствует дате создания.">
                                Создан
                            </abbr>
                        </th>
                        <th>Действия</th>
                    </tr>
                    </thead>

                    <tbody>
                    {{ range .Clusters }}
                        <tr>
                            <td>{{ .Name }}</td>
                            <td>{{ .Port }}</td>
                            <td>{{ or .User "—" }}</td>
                            {{ if .Secure }}
                                <td title="Создатель назначил свой пароль">🔒</td>
                            {{ else }}
                                <td>{{ or .Pass "—" }}</td>
                            {{ end }}
                            {{ if not .Dev }}
                                <td>—</td>
                                <td>{{ if .Running }}✅{{ else }}❌{{ end }}</td>
                                <td>{{ .Modified }}</td>
                                <td></td>
                            {{ else }}
                                <td>
                                    <code>postgres://{{ .User }}:{{ .Pass }}@{{ .Host }}:{{ .Port }}/sc</code>
                                </td>
                                <td>
                                    <form action="/api/modify" method="post">
                                        <input type="hidden" name="name" value="{{ .Name }}">
                                        {{ if .Secure }}
                                            <input type="hidden" name="password">
                                        {{ end }}
                                        {{ if .Running }}
                                            <input type="hidden" name="action" value="stop">
                                            <button type="submit" class="button is-warning is-small"
                                                    {{ if .Secure }}data-secured="" disabled{{ end }}
                                                    onclick="addLoading()">
                                                Остановить
                                            </button>
                                        {{ else }}
                                            <input type="hidden" name="action" value="start">
                                            <button type="submit" class="button is-primary is-small"
                                                    {{ if .Secure }}data-secured="" disabled{{ end }}
                                                    onclick="addLoading()">
                                                Запустить
                                            </button>
                                        {{ end }}
                                    </form>
                                </td>
                                <td>{{ .Modified }}</td>
                                <td>
                                    <form action="/api/modify" method="post" onsubmit="return deleteDb()">
                                        <input type="hidden" name="name" value="{{ .Name }}">
                                        <input type="hidden" name="action" value="drop">
                                        {{ if .Secure }}
                                            <input type="hidden" name="password">
                                        {{ end }}

                                        <button class="button is-danger is-small"
                                                {{ if .Secure }}data-secured="" disabled{{ end }}>
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                            {{ end }}
                        </tr>
                    {{ end }}

                    </tbody>
                </table>
            </div>

            <div class="block">
                <div class="field">
                    <label for="common-password" class="label">
                        Пароль для остановки/запуска/удаления защищённых баз
                    </label>
                    <div class="control">
                        <input id="common-password" type="password" class="input" name="common-password"
                               placeholder="Укажите здесь пароль для нужной базы, и затем нажмите кнопку Удалить, Остановить, или Запустить"
                               oninput="setPasswords()">
                    </div>
                </div>
            </div>

            <div class="block">
                Строку из <code>URL</code> можно использовать для прогона миграций:
            </div>

            <pre>$ export DATABASE_URL=строка_из_таблицы
$ dbmate status
$ dbmate up
</pre>
        </div>

    </section>

    <section class="section">
        <div class="container">

            <h1 class="title">Создать базу</h1>

            <div class="content">
                <p>
                    Допустимые символы: <code>_</code>, <code>abcdefghijklmnopqrstuvwxyz</code>, <code>0123456789</code>.
                </p>

                <p>В качестве имени используйте что-то понятное:</p>

                <ol>
                    <li>если это ваша личная песочница — своё имя: <code>divanov</code></li>
                    <li>если это выполнение задачи <code>#12345</code> — так и назовите базу: <code>issue_12345</code>
                    </li>
                    <li>если это работа над обращениями — <code>appeals</code></li>
                </ol>

                <p>Пароль можно не указывать — тогда доступ к базе и возможность остановить/удалить её будет иметь любой
                    желающий.</p>
            </div>

            <form action="/api/create" method="post">
                <div class="field">
                    <label for="name" class="label">
                        Название копии PostgreSQL
                    </label>
                    <div class="control">
                        <input id="name" type="text" class="input" minlength="1" maxlength="32" name="name"
                               required placeholder="Короткое название латиницей/цифрами">
                    </div>
                </div>

                <div class="field">
                    <label for="password" class="label">
                        Пароль от юзера <code>sc</code> и для остановки/удаления базы
                    </label>
                    <div class="control">
                        <input id="password" type="password" class="input" name="password"
                               minlength="8" placeholder="Необязательный пароль для защиты базы (не менее 8 символов)">
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <button id="btn-create" class="button is-primary">
                            Создать
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </section>
</main>

<aside class="column">
    {{ range .Events }}
        <div class="notification {{ if eq .Status "error" }}is-danger{{ else if eq .Status "queued" }}is-info{{ else }}is-success{{ end }} m-1">
            <h1 class="is-size-5 has-text-weight-bold">
                {{ if eq .Status "error" }}
                    Не удалось выполнить задачу
                {{ else if eq .Status "queued" }}
                    Задача поставлена в очередь
                {{ else if eq .Status "success" }}
                    Задача выполнена успешно
                {{ end }}
            </h1>
            <h2 class="is-size-6">
                {{ .When.Format "02.01.2006 15:04:05" }}
            </h2>
            {{ if ne .Message "" }}
                <div>{{ .Message }}</div>
            {{ end }}
        </div>
    {{ end }}
</aside>

<script>
  function addLoading() {
    event.target.classList.add("is-loading");
  }

  function deleteDb() {
    return confirm("Вы точно хотите удалить базу?");
  }

  const secured = document.querySelectorAll(`[data-secured]`);
  const inputs = document.querySelectorAll(`[type="hidden"][name="password"]`);

  function setPasswords() {
    const pass = event.target.value.trim();
    const ok = pass.length >= 8;
    secured.forEach(control => {
      if (ok) {
        control.removeAttribute("disabled");
      } else {
        control.setAttribute("disabled", "");
      }
    });
    inputs.forEach(input => {
      input.value = pass;
    });
  }
</script>

</body>
</html>
